scikit-learn==1.3.0
pandas==2.2.2
numpy==1.26.4
dvc==3.32.0
pathspec<0.12.0
matplotlib
seaborn
Flask
joblib
streamlit
mlflow==2.13.0
pyarrow==14.0.1
gunicorn==22.0.0
setuptools==70.0.0
prometheus-client